.mycenter{
		margin: 0 auto;
		text-align:center;
}
.myfooter {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
.flash {
    margin-left: 5px;
    color: #ff0000;	
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
}
.red {
    margin-left: 5px;
    color: #ff0000;
}